# node_modules
node_modules

# env files
.env*
!.env.example

# tests
coverage

# next files
.next

# vscode files
.vscode

# typescript
tsconfig.tsbuildinfo

# package-lock.json
package-lock.json

# yarn files
yarn-*